/* Variables */

:root {
	/* Light palette: https://colorhunt.co/palette/ff731dfff7e95f9df71746a2 */
	--light-accent: #FF731D;
	--light-background: #FFF7E9;
	--light-primary: #1746A2;
	--light-primary-70: #e8edf6;
	--light-main-text: rgba(40, 40, 40);
	--light-subtitle-text: rgba(69, 69, 69);
}

/* Global styles or resets */

* {
	box-sizing: border-box;
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: var(--light-main-text);
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

html {
	/* Enables smooth scrolling  */
	scroll-behavior: smooth;
}

/* Specific page style */

.container {

	/* Increase global font size */
	font-size: 1.5rem;

	margin: 0 auto;
	background-color: var(--light-primary-70);

	/* Grid layout */
	display: grid;
	column-gap: 24px;
	align-items: center;
	justify-items: center;
	grid-template-columns: [sidebar] 16em [content] auto;

}

/* Sidebar section */

.sidebar {
	background-color: white;

	/* Placement of the sidebar inside the grid */
	grid-area: sidebar;

	/* Makes the sidebar sticky and full height */
	position: sticky;
	top: 0;
	align-self: flex-start;
	height: 100vh;
	width: 100%; /* take all space given by the grid layout */

	/* Layout inside the sidebar */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar a {
	/* Resets every link style in the sidebar */
	text-decoration: none;
}

.sidebar a:active, .sidebar:visited {
	/* Resets every link style in the sidebar */
	text-decoration: none;
}

.header {
	/* Makes the header profile pic and text a column and align center horizontally  */
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem auto;

	/* Makes the text more noticeable */
	font-size: 2rem;
	font-weight: 900;

	/* Sets link text color */
	color: var(--light-main-text);

}

.profile-pic {
	/* Makes the profile pic circular */
	border-radius: 100%;

	/* Defines a fixed size for the pic */
	width: 6em;

	/* Adds a bit of spacing underneath the pic */
	padding-bottom: 1rem;
}

.navbar > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-item {
	margin: 1rem 0;
}

.navbar-item > a {
	font-size: 1.5rem;
	color: var(--light-subtitle-text);

	padding: 0.5rem;
}

.footer {
	/* Layout of the footer */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1rem;
	font-size: 1.3rem;
}

/* Sets padding for every child of the footer */
.footer > * {
	padding: 8px;
}

.footer-sub {
	font-size: 1rem;
	color: var(--light-subtitle-text);
}

.social-item {
	padding: 0.5rem 0;
	font-size: 1.1rem;
}

/* Main content section */

.content {
	grid-area: content;
	/* text-align: center; */
}


.brand {
	height: 2em;
}


/* TODO fix left bar of the navigation (background shows through) */
