/* Variables */

:root {
	/* Light palette: https://colorhunt.co/palette/ff731dfff7e95f9df71746a2 */
	--light-accent: #FF731D;
	--light-background: #FFF7E9;
	--light-primary: #1746A2;
	--light-primary-70: #e8edf6;
	--light-main-text: rgba(40, 40, 40);
	--light-subtitle-text: rgba(69, 69, 69);

	--sidebar-width: 16em;
	--main-layout-column-gap: 24px;
}

/* Global styles or resets */

* {
	box-sizing: border-box;
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: var(--light-main-text);
	margin: 0;
	padding: 0;

	/* debug */
	/* overflow: auto; */
	/* border: 1px solid red; */
}

ul {
	list-style: none;
}

html {
	/* Enables smooth scrolling  */
	scroll-behavior: smooth;

	scroll-snap-type: mandatory;
	scroll-snap-align: center;
}

/* Specific page style */

.container {

	/* Increase global font size */
	font-size: 1.5rem;

	background-color: var(--light-primary-70);

	/* Grid layout */
	display: grid;
	column-gap: var(--main-layout-column-gap);
	align-items: center;
	justify-items: center;
	grid-template-columns: [sidebar] var(--sidebar-width) [content] auto;

}

/* Sidebar section */

.sidebar {
	background-color: white;

	/* Placement of the sidebar inside the grid */
	grid-area: sidebar;

	/* Makes the sidebar sticky and full height */
	position: sticky;
	top: 0;
	left: 0;
	align-self: flex-start;

	/* make the sidebar all screen high */
	height: 100vh;
	/* take all space given by the grid layout */
	width: 100%;

	/* Layout inside the sidebar */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar a {
	/* Resets every link style in the sidebar */
	text-decoration: none;
}

.sidebar a:active,
.sidebar:visited {
	/* Resets every link style in the sidebar */
	text-decoration: none;
}

.header {
	/* Makes the header profile pic and text a column and align center horizontally  */
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem auto;

	/* Makes the text more noticeable */
	font-size: 2rem;
	font-weight: 900;

	/* Sets link text color */
	color: var(--light-main-text);

}

.profile-pic {
	/* Makes the profile pic circular */
	border-radius: 100%;

	/* Defines a fixed size for the pic */
	width: 6em;

	/* Adds a bit of spacing underneath the pic */
	padding-bottom: 1rem;
}

.navbar>ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-item {
	margin: 1rem 0;
}

.navbar-item>a {
	font-size: 1.5rem;
	color: var(--light-subtitle-text);

	padding: 0.5rem;
}

.footer {
	/* Layout of the footer */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1rem;
	font-size: 1.3rem;
}

/* Sets padding for every child of the footer */
.footer>* {
	padding: 8px;
}

.footer-sub {
	font-size: 1rem;
	color: var(--light-subtitle-text);
}

.social-item {
	padding: 0.5rem 0;
	font-size: 1.1rem;
}

/* Main content section */

.content {
	grid-area: content;

	/* TODO check other values to see if this is good */
	padding: 4rem;

	/* TODO might make it hidden in next revs */
	/* overflow-x: auto; */
}


.slides-container {
	padding: 2rem;
	margin: 1rem;

	/* "Left" horizontal alignment and center vertical alignment */
	place-items: center flex-start;

	display: grid;
}


.slides-container--title {

	/* higher vertical padding used as line-height*/
	padding: 2rem 1rem;

	/* Overrides the default "left" horizontal alignments */
	justify-self: center;

	/* trying to make it sticky (needs animation to the right margin of the screen) */
	/* position: sticky;
	top: 0;
	background-color: var(--light-primary-70);
	display: block;
	width: 100%;
	z-index: 9; */
}

/* TODO: add what I have in other PC */
.hero {
	place-content: stretch center;
	grid-template-rows: repeat(2, auto);
	height: 100vh;
}

.slide-content {
	padding: 1rem;
	margin: 1rem;
	line-height: 2;
}

.slide-content>ul {
	list-style-type: square;
	margin-left: 3rem;
}

.centered-list-item-content {
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* Brands */

.brand {
	height: 2rem;
	/* Make sure the images do not get stretched */
	object-fit: cover;
}

/* Adjust positioning for some brands to align them to text baseline */
.brand.spring {
	position: relative;
	top: .5rem;
}

.brand.jooq {
	position: relative;
	top: .5rem;
	margin-right: .5rem;
}

/* Legal stuff */

.brand.gradle {
	/* Required by https://gradle.com/brand/ */
	min-width: 100px;
	/* 6 characters plus 2 of the elephant logo */
	width: 8rem;

	position: relative;
	top: .5rem;

	/* Move the logo a bit closer to the text */
	left: -1rem;

}



/* test */
.grid-cards {
	display: grid;
	grid-auto-flow: column;
	place-items: baseline center;
}

.grid-cards>* {
	background-color: white;
	border-radius: 8px;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
}

.grid-cards>ul {
	margin-left: 2rem;
}

.subtitle {
	font-size: 1rem;
	line-height: 1;
	margin: 4px;
}

.title-with-subtitle {
	display: flex;
	flex-direction: column;

	align-items: center;

	line-height: 1;
}
