/* Variables */

:root {
	/* Light palette: https://colorhunt.co/palette/ff731dfff7e95f9df71746a2 */
	--light-accent: rgb(255 115 29);
	--light-accent-transparent: rgb(255 115 29 / 50%);
	--light-background: rgb(255 247 233);
	--light-primary: rgb(23 70 162);
	--light-primary-70: rgb(232 237 246);
	--light-main-text: rgba(40 40 40);
	--light-subtitle-text: rgba(69 69 69);
	--light-text-700: rgb(96 96 96);
	--light-background-transparent: rgba(255 255 255 / 80%);

	/* Layout variables */
	--sidebar-width: 16em;
	--main-layout-column-gap: 24px;

	/* Gaps and stuff */
	/* --gap-large: 24; */
	--border-radius: 8px;
}

/* Global styles or resets */

* {
	box-sizing: border-box;
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: var(--light-main-text);
	margin: 0;
	padding: 0;

	/* debug properties */

	/* overflow: auto; */

	/* border: 1px solid red; */
}

ul {
	list-style: none;
}

html {
	/* Enables smooth scrolling  */
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	scroll-snap-align: center;
}

/* Specific page style */

.container {
	/* Increase global font size */
	font-size: 1.5rem;

	/* Background color of the page */
	background-color: var(--light-primary-70);

	/* Grid layout */
	display: grid;
	column-gap: var(--main-layout-column-gap);
	align-items: center;
	justify-items: center;
	grid-template-columns: [sidebar] var(--sidebar-width) [content] auto;
}

/* Sidebar section */

.sidebar {
	background-color: white;

	/* Placement of the sidebar inside the grid */
	grid-area: sidebar;

	/* Makes the sidebar sticky and full height */
	position: sticky;
	top: 0;
	left: 0;
	align-self: flex-start;

	/* Make the sidebar all screen high */
	height: 100vh;

	/* Take all space given by the grid layout */
	width: 100%;

	/* Layout inside the sidebar */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar a {
	/* Resets every link style in the sidebar */
	text-decoration: none;
}

.navbar-item > a {
	font-size: 1.5rem;
	color: var(--light-subtitle-text);
}

.sidebar a:active,
.sidebar a:visited {
	/* Resets every link style in the sidebar */
	text-decoration: none;
}

.header {
	/* Makes the header profile pic and text a column and align center horizontally  */
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem auto;

	/* Makes the text more noticeable */
	font-size: 2rem;
	font-weight: 900;

	/* Sets link text color */
	color: var(--light-main-text);
}

.profile-pic {
	/* Makes the profile pic circular */
	border-radius: 100%;

	/* Defines a fixed size for the pic */
	width: 6em;

	/* Adds a bit of spacing underneath the pic */
	padding-bottom: 1rem;
}

.navbar > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-item {
	margin: 1rem 0;
}

.footer {
	/* Layout of the footer */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Content properties */
	padding: 1rem;
	font-size: 1.3rem;
}

/* Sets padding for every child of the footer */
.footer > * {
	padding: 8px;
}

.footer-sub {
	font-size: 1rem;
	color: var(--light-subtitle-text);
}

.social-item {
	padding: 0.5rem 0;
	font-size: 1.1rem;
}

/* Main content section */

.content {
	grid-area: content;

	/* TODO check other values to see if this is good */
	padding: 2rem;

	/* TODO might make it hidden in next revs */

	/* overflow-x: auto; */
}

.accent-text {
	color: var(--light-accent);
}

.slides-container {
	padding: 2rem;
	margin: 1rem;

	/* "Left" horizontal alignment and center vertical alignment */
	place-items: center flex-start;
	display: grid;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

.slides-container--title {
	/* higher vertical padding used as line-height */
	padding: 2rem 1rem;

	/* Overrides the default "left" horizontal alignments */
	justify-self: center;

	/* trying to make it sticky (needs animation to the right margin of the screen) */

	/* position: sticky;
	top: 0;
	background-color: var(--light-primary-70);
	display: block;
	width: 100%;
	z-index: 9; */
}

.hero {
	place-content: stretch center;
	grid-template-rows: repeat(2, auto);
	height: 100vh;
}

.slide-content {
	padding: 1rem;
	margin: 1rem;
	line-height: 2;
}

.slide-content > ul {
	list-style-type: square;
	margin-left: 3rem;
}

.centered-list-item-content {
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* Brands */

.brand {
	height: 2rem;

	/* Make sure the images do not get stretched */
	object-fit: cover;
}

/* Adjust positioning for some brands to align them to text baseline */
.brand.spring {
	position: relative;
	top: 0.5rem;
}

.brand.jooq {
	position: relative;
	top: 0.5rem;
	margin-right: 0.5rem;
}

/* Learning section */

.grid-cards {
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
	place-items: baseline center;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: white;
	border-radius: var(--border-radius);
	box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 50%);
	line-height: 1.5;
}

.card__title {
	height: 5rem;
	margin-bottom: 4px;
}

.card > ul {
	list-style-type: square;
	margin-left: 3rem;
}

.subtitle {
	font-size: 1rem;
	line-height: 1;
	margin: 4px;
}

.title-with-subtitle {
	/* Layout of titles with subtitles */
	display: flex;
	flex-direction: column;
	align-items: center;

	/* Make titles with subtitles more "dense" */
	line-height: 1;
}

/* Modal Dialogs */

/* Hide modal dialog by default */
.modal {
	display: none;
}

.modal-overlay__close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.modal__overlay {
	/* Constraint dialog's maximum width but let it take space if there is some */
	max-width: 800px;
	width: 100%;

	/* UI effects */
	box-shadow: 2px 2px 4px 0 var(--light-accent-transparent);
	border: 1px solid var(--light-accent);
	border-radius: var(--border-radius);
}

.modal__wrap {
	background-color: white;
}

.modal__header {
	padding: 1rem;
	display: flex;
	border-bottom: 1px solid var(--light-accent);

	align-items: center;
}

.modal__header-title {
	flex: 1;
}

.modal__content {
	/* Layout with 2 columns */
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 2rem;
	place-items: center stretch;

	padding: 2rem;
	gap: 1rem;

	/* background-color: var(--light-background); */
}

.personal-info--title {
	color: var(--light-primary);

	/* Adds horizontal spacing */
	padding: 0 1rem;
}

.form-field {
	font-size: 1.2rem;
	padding: 1rem;
}

/* Textarea customizations */
textarea.form-field {
	/* Disable resizing */
	resize: none;

	/* Enable scrollbars if necessary */
	overflow: auto;
}

.form-field:focus,
.form-field:hover,
.form-field:active {
	/* Highlights border fo the current active form input field */
	border: 2px solid var(--light-primary);
	border-radius: var(--border-radius);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	/* Outline needs to be disabled cause it interferes with border */
	outline: none;
}

.modal__footer {
	display: flex;
	padding: 0 2rem 2rem;
	align-items: center;
}

.modal-hint {
	flex-grow: 1;
	color: var(--light-text-700);
	font-size: 1.2rem;
	font-style: italic;
	letter-spacing: 0.05rem;
	word-spacing: 0.1rem;
}

/* debug */
.modal__actions {
	display: flex;
	gap: 1rem;
}

.button {
	padding: 1rem 2rem;
	cursor: pointer;
	display: flex;
	gap: 1rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
	background-color: var(--light-accent);
	align-items: center;
	color: white;
	border: 0;
	border-radius: var(--border-radius);
}

.accent-btn {
	color: black;
}

/* Needed since the general rule applies the white background */
.accent-btn>i {
	background-color: var(--light-accent);
}


/* Trigger dialog on button click.
	 The contact me hidden input element needs to be a SIBLING of the modal dialog
*/
#contact-me-trigger:checked ~ .modal {
	/* Modal layout */
	display: flex;
	align-items: center;
	justify-content: center;

	/* Modal needs to go outside normal layout */
	position: fixed;

	/* Make the modal fullscreen */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* Make the overlay have a translucid background that covers the page underneath */
	background-color: var(--light-background-transparent);
	backdrop-filter: blur(2px);
}

/* Utility classes */

.clickable {
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

/* Legal stuff */

.brand.gradle {
	/* Required by https://gradle.com/brand/ */
	min-width: 100px;

	/* 6 characters plus 2 of the elephant logo */
	width: 8rem;

	/* Adjust Gradle logo to its parent */
	position: relative;
	top: 0.5rem;

	/* Move the logo a bit closer to the text */
	left: -1rem;
}
